<a href="https://colab.research.google.com/github/zhouchun0105/Sensor-Data-to-Predict-Human-Status/blob/main/Naive_Bayes_Approach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Naive Bayes Classifier**

* Naive Bayes Classifier provides a more computationally efficient and more accurate classification than KNN.

# **Import Dataset**

In [1]:
import pandas as pd

In [17]:
train = pd.read_csv("/content/drive/MyDrive/Datasets/train.csv")

In [18]:
test = pd.read_csv("/content/drive/MyDrive/Datasets/test.csv")

In [7]:
train.head()

   Sound (dB)  Light (Lux)  Vibration (db)  Time of day (H)    Status
0          40          340              35                9      Home
1          36           20              23                4  Sleeping
2          56           39              15               13  Not Home
3          32           50              15                1  Sleeping
4          63          430              19               10      Home

# **Train Verification Split**

Randomly select 20% of training data into verification dataset

In [19]:
verification = train.sample(frac=0.2, random_state = 520)

Leave the rest of 80% data as training data

In [33]:
ver_index = verification.index.tolist()
train_index = train.index.tolist()
index = []
for i in train_index:
  if i not in ver_index:
    index.append(i)

In [35]:
train = train.iloc[index]

# **Standardize the Dataset**

In [40]:
# Find the min and max values for each column
def dataset_minmax(dataset):
	minmax = list()
	for i in range(len(dataset[0])):
		col_values = [row[i] for row in dataset]
		value_min = min(col_values)
		value_max = max(col_values)
		minmax.append([value_min, value_max])
	return minmax

In [41]:
# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
	for row in dataset:
		for i in range(len(row)):
			row[i] = (row[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

In [45]:
train_stand_prep = train.drop(columns="Status").values.tolist()

In [46]:
dataset_minmax(train_stand_prep)

[[32, 68], [13, 430], [15, 68], [1, 16]]

In [47]:
normalize_dataset(train_stand_prep, [[32, 68], [13, 430], [15, 68], [1, 16]])

In [49]:
standardized_train = pd.DataFrame(train_stand_prep)

In [51]:
standardized_train.columns = ['sound','light','vibration','time_of_day']

In [52]:
standardized_train

       sound     light  vibration  time_of_day
0   0.222222  0.784173   0.377358     0.533333
1   0.111111  0.016787   0.150943     0.200000
2   0.666667  0.062350   0.000000     0.800000
3   0.000000  0.088729   0.000000     0.000000
4   0.861111  1.000000   0.075472     0.600000
5   1.000000  0.544365   0.169811     0.933333
6   0.000000  0.019185   0.301887     0.266667
7   0.055556  0.232614   0.566038     0.600000
8   0.777778  0.688249   0.452830     0.733333
9   0.000000  0.400480   0.113208     0.333333
10  0.194444  0.040767   0.094340     0.200000
11  0.361111  0.280576   0.452830     0.666667
12  0.472222  0.422062   0.320755     0.800000
13  0.916667  0.664269   0.320755     0.466667
14  0.277778  0.688249   0.528302     0.933333
15  0.472222  0.160671   0.547170     0.466667
16  0.166667  0.016787   0.377358     0.133333
17  0.666667  0.928058   0.886792     1.000000
18  0.555556  0.664269   0.283019     0.400000
19  0.305556  0.448441   0.471698     0.666667
20  0.444444  0.424460   0.415094     0.933333
21  0.361111  0.256595   0.641509     1.000000
22  0.750000  0.784173   1.000000     0.466667
23  0.194444  0.304556   0.339623     0.333333
24  0.277778  0.160671   0.075472     0.333333
25  0.333333  0.016787   0.320755     0.000000
26  0.750000  0.904077   0.509434     1.000000
27  0.611111  0.736211   0.773585     0.933333
28  0.055556  0.000000   0.132075     0.133333
29  0.305556  0.976019   0.377358     0.600000